* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

.presentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.presentation__title {
  font-size: 3rem;
  line-height: 58px;
}

.presentation__description {
  font-size: 1.5rem;
  line-height: 29px;
}

.filefield__button {
  background: linear-gradient(180deg, #E4E4E4 0%, #F7F7F7 100%);
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height:  31px;
  line-height: 19px;
  margin: 0 auto 1.5rem;
  padding: 6px 12px;
  white-space: nowrap;
  width:  110px;
}

.filefield__button:hover { 
  opacity: 0.7;
  transition: opacity 250ms ease-in;
}

.filefield input[type="file"] {
  display: none;
}

.filefield__error {
  color: #BF0E0E;
  font-size: 1rem;
  line-height: 19px;
  display: none;
}

.filefield--invalid .filefield__error {
  display: flex;
}

.treeviewer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: calc(638px + 48px);
  padding: 1.5rem 1.5rem 3rem;  
}

.treeviewer__title {
  font-size: 32px;
  font-weight: 700;
}

.treeviewer .content {
  font-weight: 400;
  font-size: 1rem;
}

.treeviewer .content__key {
  color: #4E9590;
}

.treeviewer .content__position {
  color: #BFBFBF;
}

.treeviewer .content__paren {
  color: #F2CAB8;
}

.treeviewer .content__ident::before {
  border-left: 1px solid #BFBFBF;
  content: "";
  display: flex;
  height: 42px;
  width: 6px;
  position: absolute;
}

.content {
  height: 100%;
}

.content--presentation .presentation {
  display: flex;
}

.content--presentation .treeviewer {
  display: none;
}

.content--treeviewer .presentation {
  display: none;
}

.content--treeviewer .treeviewer {
  display: flex;
}